#page-room{
    header{
        padding: 24px;
        border-bottom: 1px solid #e2e2e2;
        
        .content{
            // max-width: 1120px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            >a{
                >img{
                    max-height: 45px;
                }
            }

            >div{
                display: flex;
                gap: 16px;
                flex-wrap: wrap;

                @media screen and (max-width: 400px) {
                    margin-top: 20px;                   
                    
                  }
                

                button{
                    height: 40px;
                    @media screen and (max-width: 400px) {
                        .label-sair {
                          display: none;
                          
                        }
                      }
                    svg{
                        vertical-align: middle;   
                        margin-left: 6px;  
                        
                    }
                }
            }
        }
    }

    main{
        // max-width: 800px;
        max-width: 70%;
        @media screen and (max-width: 800px) {
            max-width: 85%;
        }
        margin: 0 auto;

        .room-title{
            margin: 32px 0 24px;
            display: flex;
            align-items: center;

            h1{
                font-family: 'Poppins',sans-serif;
                font-size: 24px;
                color: #29292e;
            }

            span{
                margin-left: 16px;
                background: #e559f9;
                border-radius: 9999px;
                color: #fff;
                padding: 8px 16px;
                font-weight: 500;
                font-size: 14px;
            }
        }

        form{
            textarea{
                width: 100%;
                border:0;
                padding: 16px;
                border-radius: 8px;
                background: #fefefe;
                box-shadow: 0 2px 12px rgba(0,0,0,0.04);
                resize: none;
                min-height: 130px;
            }

            .form-footer{
                display: flex ;
                justify-content: space-between;
                align-items: center;
                margin-top: 16px;

                .user-info{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
        
                    img{
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                    }
        
                    span{
                        margin-left: 8px;
                        color: #29292e;
                        font-weight: 500;
                        font-size: 14px;
                    }
        
                } 

               > span{
                    font-size: 14px;
                    color: #737380;

                    button{
                        background: transparent;
                        border: 0;
                        color: #835AFD;
                        text-decoration: underline;
                        font-size: 14px;
                        cursor: pointer;
                        font-weight: 500;
                    }

                }
            }
        }

        .question-list{
            margin-top: 32px;
        }

        .empty-questions{
            display: flex;
            flex-direction: column;
            align-items: center ;
            justify-content: center;
            margin-top: 50px;
            img{
                width: 25%;
                @media screen and (max-width: 400px) {
                    width: 60%;                    
                  }
            }
            label{
                margin-top:10px;
                font-size :22px;
                @media screen and (max-width: 800px) {
                    font-size: 17px;
                }
            }
        }

    }

}